body {
  background-image: url(asset/background.jpg);
  background-size: cover;
  background-position-y: -75px;
}

.customFooter {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}
